# Ignore all files and directories except for *.psd1, *.psm1 README.md, LICENSE, and .gitignore
*
# all files in all directories with psm1 extension
!**/*.psd1
!**/*.psm1
!*M365PowerKit-ExchangeContactImporterForOrg/*.psd1
!*M365PowerKit-ExchangeReporter/*.psm1
!README.md
!LICENSE
!.gitignore
!.gitattributes
!LICENSE.md

# Seems broken... ended up manually overriding the .gitignore file with:
# Get-ChildItem -Recurse -Include *.psd1, *.psm1 | ForEach-Object { git add $_ -f }