# Ignore all files and directories except for *.psd1, *.psm1 README.md, LICENSE, and .gitignore
*
!M365PowerKit-ExchangeSearchExport/M365PowerKit-ExchangeSearchExport.psd1
!M365PowerKit-ExchangeSearchExport/M365PowerKit-ExchangeSearchExport.psm1
!README.md
!LICENSE
!.gitignore
!.gitattributes
!LICENSE.md
